:root {
    --border-radius-chat: 25px;
}

* {
    box-sizing: border-box;
}

.groupdialog__row {
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
        background: #f0f1ef;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 1px; /* border thickness */
        background: linear-gradient(
                to right,
                transparent 0%,
                transparent 10%,
                black 50%,
                transparent 90%,
                transparent 100%
        );
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; /* border thickness */
        background: linear-gradient(
                to right,
                transparent 0%,
                transparent 10%,
                black 50%,
                transparent 90%,
                transparent 100%
        );
    }
}

vaadin-dialog-overlay::part(title) {
    margin: 0 auto;
}

vaadin-upload {
    background-color: #f0f1ef;
}

vaadin-accordion-panel {
    padding: 8px;
    border-radius: var(--border-radius-chat);
    &[opened] {
        background-color: rgba(167, 168, 167, 0.3);
    }
}

.chat-container {
    gap: 0;
    padding: 5px;
    background-color: #f0f1ef;
    border-radius: var(--border-radius-chat);
}

.chat-row {
    align-content: center;
    padding: 8px 0;
}

.chat-message {
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: cadetblue;
    border-radius: var(--border-radius-chat) var(--border-radius-chat) var(--border-radius-chat) 0;
    padding: 10px;
    z-index: 2;
}

.seperatorBorder {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 1px; /* border thickness */
        background: linear-gradient(
                to right,
                transparent 0%,
                transparent 10%,
                black 50%,
                transparent 90%,
                transparent 100%
        );
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; /* border thickness */
        background: linear-gradient(
                to right,
                transparent 0%,
                transparent 10%,
                black 50%,
                transparent 90%,
                transparent 100%
        );
    }
}